html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Card */
.card {
    box-sizing: border-box;
    position: absolute;
    width: 799.16px;
    height: 441.35px;
    right: 58.84px;
    top: 29px;
    background: #F7F7F7;
    border: 2px solid #FBE4FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

/* Title */ 
.logo { 
    position: absolute;
    width: 50px;
    height: 50px;
    left: 313px;
    top: 14px;
    filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.25));
}

.title { 
    position: absolute;
    width: 111px;
    height: 28px;
    left: 378px;
    top: 14px;
    font-size: 35px;
    font-family: "Erica One", cursive;
    color: #EEF0FF;
    -webkit-text-stroke: 0.5px #3A4380;
    text-shadow: 0px 3px 4px rgba(0,0,0,0.3);
}

/* Inputs */ 
.label {
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    line-height: 22px; 
    font-style: normal;
    font-family: 'Istok Web';
}

.org-label { 
    left: 161px; 
    top: 98px;
}

.name-label {
    top: 135px;
    left: 161px;
}

.desc-label { 
    top: 173px;
    left: 161px;
}

.datetime-label { 
    left: 161px;
    top: 244px;
}

.loc-label { 
    left: 161px; 
    top: 278px;
}

.text-input {
    position: absolute;
    width: 350px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid #FBE4FC;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    padding-left: 10px;
    font-size: 15px;
    box-sizing: border-box;
}

#org-input { 
    left: 298px;
    top: 91px;
}

#name-input { 
    left: 298px;
    top: 128px;
}

#desc-input { 
    left: 298px;
    top: 165px;
    height: 56px;
    font-family: "Istok Web", sans-serif;
    line-height: 20px;
    resize: none;
}

#date-input { 
    width: 112px;
    height: 28px;
    left: 298px; 
    top: 236px;
    font-family: 'Istok Web';
    padding-left: 4px;
}

#time-input { 
    width: 89px;
    height: 28px;
    left: 424px; 
    top: 236px;
    font-family: 'Istok Web';
    padding-left: 6px;
}

#loc-input { 
    left: 298px; 
    top: 270px;
    width: 215px;
}

/* Logo on bottom right side */ 
.bottom-right { 
    position: absolute;
    width: 279.8px;
    height: 222px;
    left: 520px;
    top: 246px;
}

/* Upload image */ 
.upload-img-container {
    position: absolute;
    left: 161px;
    top: 313px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.upload-file-name {
    font-family: 'Istok Web';
    font-size: 13px;
    color: #000;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.remove-file-btn {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.upload-img-btn { 
    box-sizing: border-box;
    width: 112px;
    height: 30px;
    background: #EEF0FF;
    border: 1px solid #EEF0FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
}

.upload-img { 
    top: 6.5px;
    left: 6px;
    position: absolute;
    font-size: 13px;
    color: #000000;
    font-style: normal;
    font-family: 'Istok Web';
}

.plus-icon { 
    position: absolute;
    top: 7px; 
    left: 90px;
}

/* Submit Button */ 
.post-event-btn { 
    position: absolute;
    width: 216px;
    height: 56px;
    left: 291px;
    top: 358px;
    color: #EEF0FF;
    font-family: 'Istok Web';
    font-size: 20px;
    background: #3A4380;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


