html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Card */
.card {
    box-sizing: border-box;
    position: absolute;
    width: 799.16px;
    height: 441.35px;
    /* left: 422px; */
    right: 58.84px;
    top: 28px;
    background: #F7F7F7;
    border: 2px solid #FBE4FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

/* Title */ 
.logo { 
    position: absolute;
    width: 50px;
    height: 50px;
    left: 312px;
    top: 15px;
    filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.25));
}

.title { 
    position: absolute;
    width: 111px;
    height: 28px;
    left: 377px;
    top: 15px;
    font-size: 35px;
    font-family: "Erica One", cursive;
    color: #EEF0FF;
    -webkit-text-stroke: 0.5px #3A4380;
    text-shadow: 0px 3px 4px rgba(0,0,0,0.3);
}

/* Inputs */ 
.personal-info { 
    position: relative; 
    width: 400px; 
    height: 200px;
    top: 88px; 
    left: 17px; 
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 32px;
}

#profile-upload {
    display: none;
}

.text-input {
    flex: 1;
    width: 297px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid #FBE4FC;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    margin-left: 12px;
    margin-bottom: 9px;
    font-size: 15px;
    padding: 4px 8px;
    font-family: "Istok Web", sans-serif;
    box-sizing: border-box;

}

.name-label, .email-label {
    font-size: 15px;
    width: 41px;
    margin-left: 33.5px;

    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    line-height: 22px;

    color: #000000;
}

.prefs-title {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;

    color: #000000;
}

.prefs-box {
    margin-top: 10px;
    width: 350px;
    height: 104px;
    background: #FFFFFF;
    border: 1px solid #FBE4FC;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 9px 12px;
    padding: 10px;
    justify-content: flex-start;
}

.content {
    display: flex;
    position: relative;
    top: 88px;
    left: 17px;
}

.input-row input.text-input {
    flex-shrink: 0;
}

.left-section {
    width: 366px;
}

.right-section {
    margin-left: 34px;
    width: 350px;
}

.input-row {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: "Istok Web", sans-serif;
}

.available-prefs {
    margin-top: 28px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;     
    gap: 16px 10px;     
    justify-content: flex-start;
}


.pref-chip {
    width: 100px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: #eef0ff;
    padding: 0 4px;
    font-size: 13px;
    border: 1px solid #EEF0FF;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    cursor: pointer;
    font-family: "Istok Web", sans-serif;
    box-sizing: border-box;
}

.pref-chip button {
    border: none;
    background: none;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    background-size: cover;
    cursor: pointer;
}


.pref-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;   
    margin-left: 4px;
}

/* Logo */
.bottom-left {
    position: absolute;
    width: 280px;
    height: 222px;
    bottom: -30px;
    left: 0;
}

/* Save Changes */ 
.save-changes-btn {
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
    width: 216px;
    height: 56px;
    background: #3A4380;
    color: #EEF0FF;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    text-align: center;
}

